<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      a class="navbar-brand" href=root_url Killer Blog
    </div>
    <div>
      <ul class="nav navbar-nav">
        li  = link_to 'Home', root_url
        li = link_to 'Blogs', posts_path 
        li class="active" = link_to 'Events', events_path
        li = link_to 'Users', users_path
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <h2>
    <strong>
      = @event.title
    </strong>
  </h2> 
  <h6>
    = link_to 'Edit', edit_event_path(@event)
  </h6>

<p>
  <i> 
    =@event.author 
    =" added "
    =@event.created_at.strftime('%b %d, %Y at %H:%M')
  </i>
</p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  = @event.body
</p>
<div id="paintings">
    <div class="painting">
      -unless @event.attachment==nil
        = link_to File.basename(@event.attachment.data_url), "/uploads/attachment/#{@event.attachment.assetable_id}/#{File.basename(@event.attachment.data_url)}"
    </div>
</div>
</div>
</div>
-if @event_tags
<div class="panel panel-info">
  <div class="panel-heading">Tags:</div>
  <div class="panel-body">
        -@event_tags.each do |tag|
          =link_to tag.name, tag
          =" "
  </div>
</div>
= link_to 'Edit', edit_event_path(@event)
| |
= link_to 'Back', events_path
<p id="notice" class="bg-info h3"> 
  =notice
</p>
<p id="notice" class="bg-info h3">
  = notice
</p>
.comments
<div class="panel panel-default">
  <div class="panel-body">
   -unless @event.comments.empty?
  h2
    =pluralize(@event.comments.size, 'comment')
  =render @event.comments
  </div>
</div>
<h3>Add your comment:</h3>
 = render :partial => 'comments/form'
</div>


<h3>Add your comment:</h3>
 = render :partial => 'comments/form'
</div>
= javascript_include_tag "pusher.js"