// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
  line-height: 1.8em;
  span { margin: 3px; }
  .sm { font-size: 0.8em; }
  .nm { font-size: 1.2em; }
  .bg { font-size: 1.8em; }
}